{% extends 'base.html.twig' %}

{% block title %}A propos de ce site
{% endblock %}

{% block body %}

	<div class="mx-auto col-5 border border-danger px-5 py-5">
		<h1>Bonjour
			{{ username_dresseur }}!
		</h1>

		Ce site est un projet Symfony, en tant que dresseur, il s'agit de :
		<ul>
			<li>Créer son Pokemon</li>
			<li>Associer le Pokemon à son énergie
			</li>
			<li>Consulter la liste des pokemons</li>
			<li>
				Créer son équipe de Pokemons</li>

		</ul>
		<div>
			<p class="font-italic">Ce projet est toujours en cours et j'ai pû le déployer tout de même chez mon hébergeur O2Switch
			</p>
		</div>
	</div>
{% endblock %}
