{% extends 'base.html.twig' %}

{% block title %}Sacha's Favorites
{% endblock %}

{% block body %}
	<main role="main" class="text-center ">
		<div class="col-4 bg-accueil text-white fw-bolder border-success border-4 border rounded-pill mx-auto mb-2">
			<h1 class="display-5 text-center fw-bold">Sacha's Favorites</h1>
		</div>
		<div classe="container text-center mt-5">
			<div class="row justify-content-center d-flex flex-column">

				<div class="col-5 text-white fw-bolder  rounded mx-auto">
					<h2 class="bg-light opacity-50 text-primary border-0 rounded" id="title">Mes Pokemons favoris  dans le Monde</h2>
				</div>

			</div>
			<div class="col-2 mx-auto">
				<a class="btn btn-success text-center text-white rounded-5" href="{{path('app_pokemon_index')}}">
					<h2 class="pt-2">Découvrir !</h2>
					{# <div data-controller="hello"></div> voir fichier par defaut hello_controller.js#} 
				</a>
			</div>
		</main>
	{% endblock %}
