<footer class="mt-auto py-1 bg-danger">
    <div class="container-fluid">
        <div class="text-light text-center">
            <p class="mb-0">© 2024 Sacha's Favorites Company, Inc</p>
        </div>
    </div>
</footer>
