{% extends 'base.html.twig' %}

{% block title %}Edit Element
{% endblock %}

{% block body %}
	<div class="mx-auto col-5 border border-danger px-5 py-5">
		<h1>Editer une énergie</h1>

		{{ include('element/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_element_index') }}">back to list</a>

		{{ include('element/_delete_form.html.twig') }}
	</div>
{% endblock %}
