{% extends 'base.html.twig' %}
{% block body_class %}new-element{% endblock %}
{% block title %}New Element{% endblock %}

{% block body %}
<div class="mx-auto col-8 border border-danger px-5 py-5 text-center bg-danger">
    <h1>Créez une nouvelle énergie</h1>

    {{ include('element/_form.html.twig') }}

    <a href="{{ path('app_element_index') }}">back to list</a>
    </div>
{% endblock %}
