<table class="table table-responsive table-hover opacity-3 border-start border-end  border-5 border-radius border-success my-5">
			<tbody>
				{% for pokemon in pokemons %}
					<tr
						class="" scope="row">
						<td class="w-lg-25 w-md-25 text-center align-middle">

							<img class="my-2" src="{{asset('uploads/image/' ~ pokemon.image)}}" alt="" style='width:200px'>
							<div class="my-2 display-5  mx-auto text-primary">{{ pokemon.name }}</div>
						</td>
						<td class="w-lg-25 w-sm-25 align-center bg-image align-middle">
							<div class="border border-warning align-center text-center p-5 rounded ">

								<div class="display-5 mx-auto text-primary my-3">
                                    {% if pokemon.element %}
                                        {{ pokemon.element.specificite|default('Pas de spécificité') }}
                                    {% else %}
                                        Pas d'élément
                                    {% endif %}
                                </div>
                                <div class="img-fluid">
                                    {% if pokemon.element and pokemon.element.illustration %}
                                        <img class="rounded-circle" src="{{ asset('uploads/image/' ~ pokemon.element.illustration) }}" alt="{{ pokemon.element.specificite }}" style='width:13rem;height:13rem'>
                                    {% else %}
                                        <div class="rounded-circle bg-secondary" style='width:13rem;height:13rem'></div>
                                    {% endif %}
                                </div>
                                <div class="display-5 mx-auto my-3 text-primary">{{ pokemon.level }}</div>
                            </div>
						</td>

						<td class="w-50 align-middle text-center">
							<div class='fs-5 text-primary '>
								<div class="display-5 mx-auto text-primary my-3">
									<p>Son histoire</p>
								</div>
								{# texte tronqué => ajout de Twig extras string : composer require twig/string-extra #}
								{{ pokemon.description |u.truncate(110) }}
								[...]
								<p>
									<a class="text-light bg-success px-3 rounded-2 border" href="{{ path('app_pokemon_show', {'id': pokemon.id}) }}">
										Voir la suite
									</a>
								</p>
								{% if is_granted('ROLE_USER') %}
									<div class='mt-5 '>
										<button class="btn btn-success  btn-sm">
											<a class="text-light" href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}">
												Modifier
											</a>
										</button>
									</div>
								{% endif %}
							</div>
						</td>
					</tr>
				</td>
			</tbody>
		</table>