{% extends 'base.html.twig' %}

{% block title %}Nouveau Pokemon
{% endblock %}

{% block body %}

	<div
		class="text-primary container">
		{# ligne 1 #}
		<h1 class="text-primary text-uppercase display-2 text-center">Ajouter un Pokemon</h1>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-3 col-sm-3 justify-content-center pt-4 p-2  mx-auto">
					<div class="ajouter">
						{{ include('pokemon/_form.html.twig') }}
					</div>

					
						<button class="btn btn-primary  btn-sm w-25">
							<a class="text-light" href="{{ path('app_pokemon_index') }}">Retour à la liste
							</a>
						</button>


						<button class="btn btn-primary  btn-sm w-25">
							<a class="text-light" href="{{path('app_element_new')}}">Ajouter un Pokemon</a>
						</button>
					

				</div>


			</div>
		</div>
	</div>
{% endblock %}
