{% extends 'base.html.twig' %}

{% block title %}Nouveau{% endblock %}

{% block body %}
<main class="flex-grow-1">

{# ligne 1 #}
    <div class="row">

        <div class="col-12">
            <div>
            <h1>Ajouter un Pokemon</h1>
            </div>
    </div>


    {# ligne2 #}

    <div class="row">
        <div class="col-6">
            {{ include('pokemon/_form.html.twig') }}
        <button><a href="{{ path('app_pokemon_index') }}">Retour à la liste</button></a>

        <div class="col-6 align-items-end">
        <button><a href="{{path('app_element_new')}}">Ajouter un élément</a></button> 
        </div>
    </div>

    

</main>

{% endblock %}
