* {
	font-family: "Farro";
}
.navbar {
	border-bottom: none !important;
}

body {
    background-size: cover; /* Pour couvrir tout l'écran */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
}



.new-pokemon {
	background-image: url("../images/pokeball-pokemon-pngrepo-com.webp");
	background-repeat: no-repeat;
	background-size: cover;
}

.new-element {
	background-image: url("../images/AdobeStock_585885970.webp");
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-accueil {
	background-color: #ed1b24;
	opacity: 0.8;
}
.bg-intro {
	background-color: #fbe163;
}
.txt-edit {
	color: #fbe163;
}
.bg-buttonM {
	background-color: #2774bc;
}
.bg-discover {
	color: #149b4a;
}
.farro-light {
	font-family: "Farro", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.farro-regular {
	font-family: "Farro", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.farro-medium {
	font-family: "Farro", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.farro-bold {
	font-family: "Farro", sans-serif;
	font-weight: 700;
	font-style: normal;
}
.ajouter {
	background-image: var(--bs-gradient);
}
