{% extends 'base.html.twig' %}

{% block title %}Edit Dresseur{% endblock %}

{% block body %}
    <h1>Edit Dresseur</h1>

    {{ include('dresseur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dresseur_index') }}">back to list</a>

    {{ include('dresseur/_delete_form.html.twig') }}

 <audio controls class="audio">
    <source src="{{ asset('audio/Blackbox Life Recorder 22 [Parallax Mix].mp3') }}" type="audio/mpeg">
</audio>

{% endblock %}

